HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.sts4-cache
bin/

# IDEs
.idea/
*.iml
.vscode/
*.DS_Store

# Logs
logs/
*.log

# Ignore mess in root (preserving src code)
/*.js
/*.html
/Book_test/
/lol/
